# このファイルを secrets.toml にコピーして値を設定してください

[connections.gsheets]
# Google サービスアカウントの JSON キー内容をそのまま記載
type = "service_account"
project_id = "your-project"
private_key_id = "..."
private_key = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
client_email = "..."
client_id = "..."
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "..."
spreadsheet = "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit"

[smtp]
host = "smtp.gmail.com"
port = 587
use_tls = true
username = "your@gmail.com"
password = "アプリパスワード"
from_email = "your@gmail.com"

[telegram]
bot_token = "123456789:ABCdefGHIjklMNOpqrsTUVwxyz"
